.title {
    display: flex;
    height: 120px;
    border-radius: 0 !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    align-items: center;

    background-color: #24248f;
    color: white;
}

#div-table {
    height: 630px;
    overflow-y: scroll;
}

#table-head {
    position: static;
}
